@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #0a2a43;
    min-height: 1500px;
}
home{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
home:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 10000;
}
home:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% ;
    background: #0a2a43;
    z-index: 10000;
    mix-blend-mode: color;
}
home img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#road{ 
    z-index: 2;
}
#text{
    position: relative;
    color: #fff;
    font-size: 10em;
    z-index: 1;
    animation: text-animation 3s 1;
}
info{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photo{
    width: 128px;
    height: 128px;
    margin: 30px;
    border: 5px solid #ffffff;
    float: left;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background-image: url('perfil.jpg');
    animation: morph 3s ease-in-out infinite;
}
#name{
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 36px;
    margin: 20px;
    text-shadow: 2px 2px 15px #ffffff;
    animation: text-border 3s ease-out infinite;
}
#bio{
    color: #ffffff;
    text-align: center;
    max-width: 80%;
    font-family: 'Raleway';
    font-size: 18px;
    margin: 20px;
}
social{
    display: flex;
    justify-content: center;
    margin: 20px;
}
#instagram{
    border-radius: 100%;
}
#discord{
    border-radius: 100%;
}
social >a{
    margin: 10px;
}
@keyframes text-border{
    0%{
        text-shadow: 2px 2px 10px #ffffff;
    }
    50%{
        text-shadow: 2px 2px 25px #ffffff;
    }
    100%{
        text-shadow: 2px 2px 10px #ffffff;
    }
}
@keyframes morph{
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}
@keyframes text-animation{
    0%{
        color: #ffffff;       
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;       
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: normal;      
        margin-bottom: -40px;
    }
}