@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #0a2a43;
    min-height: 1500px;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 10000;
}
section:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% ;
    background: #0a2a43;
    z-index: 10000;
    mix-blend-mode: color;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#text
{
    position: relative;
    color: #fff;
    font-size: 10em;
    z-index: 1;
}
#road
{ 
    z-index: 2;
}
info{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title
{
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 36px;
    margin: 20px;
    text-shadow: 2px 2px 15px #ffffff;
}
#description
{
    color: #ffffff;
    text-align: center;
    max-width: 80%;
    font-family: 'Raleway';
    font-size: 18px;
    margin: 20px;
}
social{
    display: flex;
    justify-content: center;
    margin: 20px;
}
social >a{
    margin: 10px;
}
#instagram{
    border-radius: 100%;
}
#discord{
    border-radius: 100%;
}
.photo{
    width: 128px;
    height: 128px;
    margin: 30px;
    border: 5px solid #ffffff50;
    float: left;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background-image: url('perfil.jpg');
    animation: morph 8s ease-in-out infinite;
}
@keyframes morph{
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}